.banner{
    background-image: url(./fundo.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 80vh;
}

.back{
    background: linear-gradient(0deg,rgba(0, 0, 0, 0) 0%, #092820 100%);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    height: 100%;
    padding: 20px;
}
.nome{
    font-size: 50px;
    color: #fff;
    font-weight: 300;
    /* background-color: red; */
}



.nome::after,.nome::before{
    content: url(./Line.png);
    overflow: hidden;
    margin: 20px 40px;
    align-self: center;
    position: relative;
    bottom: 0;
    display: flex;
    justify-content: center;

}

.lista{
    width: 50px;
    height: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.dot{
    width: 10px;
    height: 10px;
    background-color: #FFF;
    border-radius: 100%;
}

.select{
    background-color: #8B941F;
}



/* Mobile */
@media (max-width: 1024px) {
    .banner{
        height: 50vh;
    }
    .nome{
        font-size: 30px;
        text-align: center;
    }
    .nome::after,.nome::before{
    display: none;
    }
    .dot{
        width: 5px;
        height: 5px;
    }
}

@media (min-width: 1025px) and (max-width: 1224px) {
    .nome{
        font-size: 30px;
    }
}

/* Desktop */
@media (min-width: 1225px) and (max-width: 1440px) {
    .nome{
        font-size: 40px;
    }    
}
