.container{
    padding: 80px 50px;
    display: flex;
    flex-direction: column;
    gap: 80px;
}

.info{
    display: flex;
    gap: 60px;
}
.foto{
    width: 50%;
}

.container_texto{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    width: 35%;
}

.titulo{
    font-size: 40px;
    font-weight: var(--regular);
    color: var(--verde-escuro);
    border-bottom: 3px  var(--verde) solid;
    padding-bottom: 10px;
}

.titulo b{
    font-weight: inherit;
    color: var(--verde);
}

.texto{
    font-size: 20px;
    font-weight: var(--light);
    line-height: 30px;
}

.lista{
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.item{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;

}

.item_numero{
    color: var(--verde);
    font-size: 31px;
    font-weight: var(--extra-bold);
}

.item_texto{
    font-size: 22px;
    font-weight: var(--semi-bold);
    color: var(--verde-escuro);
}

.botao{
    border: none;
    border-radius: 5px;
    color: #fff;
    background-color: var(--verde);
    font-size: 16px;
    font-weight: var(--semi-bold) ;
    padding: 10px 40px;
    cursor: pointer;
    transition: all 200ms ease-in-out;
}

.botao:hover{
    transform: scale(1.1);
}

.botao:active{
    transform: scale(0.9);
}

.explica{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
}

.explica_titulo{
    font-size: 40px;
    font-weight: var(--regular);
    color: var(--verde-escuro);
    position: relative;
}


.explica_titulo b{
    color: var(--verde);
    font-weight: var(--regular);
    
}

.explica_titulo::after{
    content: "";
    position: absolute;
    background-color: var(--verde);
    width: 50%;
    height: 3px;
    top:150%;
    left: 25%;
}

.explica_lista{
    display: flex;
    width: 80%;
    gap: 20px;
}

.explica_item{
    display: flex;
    align-items: center;
    justify-content: center;
}

.explica_numero{
    font-size: 56px;
    font-weight: var(--bold);
    color: #FFF;
    width: 80px;
    height: 80px;
    background-color: var(--verde);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 20px;
    padding: 10px 0 0 0;
}

.explica_containter_texto{
    display: flex;
    flex-direction: column;
    width: 80%;
}
.explica_nome{
    font-size: 30px;
    color: var(--verde-escuro);
    font-weight: var(--regular);
}

.explica_texto{
    font-size: 20px;
    color: #000;
    font-weight: var(--light);
    line-height: 25px;
}



/* Mobile */
@media (max-width: 1024px) {
    .container{
        padding: 30px 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 80px;
    }
    .info{
        flex-direction: column;
        align-items: center;
    }
    .foto{
        width: 90%;
    }
    .container_texto{
        width: 90%;
        align-items: center;
        gap: 30px;
    }
    .titulo{
        font-size: 50px;
    }
    .texto{
        font-size: 18px;
        line-height: 18px;
    }
    .lista{
        flex-wrap: wrap;
    }
    .item_numero{
        font-size: 20px;
    }
    .item_texto{
        font-size: 14px;
    }
    .botao{
        padding: 5px 10px;
    }
    .explica_titulo{
        font-size: 25px;
    }
    .explica_titulo::after{
        top: 100%;
    }
    .explica_lista{
        flex-wrap: wrap;
        width: 90%;
    }
    .explica_numero{
        height:70px;
        width:70px;
        padding-top: 15px;
    }
    .explica_containter_texto{
        width: 70%;
        gap: 10px;
    }
    .explica_nome{
        font-size: 25px;
    }
    .explica_texto{
        font-size: 18px;
        line-height: 20px;
    }



}

@media (min-width: 1025px) and (max-width: 1224px) {
  .foto{
        object-fit: contain;
        width: 50%;
    }
    .container_texto{
        width: 40%;
        justify-content: space-between;
    }
    .titulo{
        padding-bottom: 2px;
        font-size: 30px;
    }
    .texto{
        font-size: 15px;
        line-height: 15px;
    }
    .item_numero{
        font-size: 20px;
    }
    .item_texto{
        font-size: 14px;
    }
    .botao{
        padding: 5px 10px;
    }
    .explica_titulo::after{
        top: 120%;
    }
    .explica_lista{
        width: 90%;
    }
    .explica_numero{
        height:70px;
        width:70px;
        padding-top: 15px;
    }
    .explica_containter_texto{
        width: 70%;
        gap: 10px;
    }
    .explica_nome{
        font-size: 25px;
    }
    .explica_texto{
        font-size: 18px;
        line-height: 20px;
    }

}

/* Desktop */
@media (min-width: 1225px) and (max-width: 1440px) {
    .foto{
        object-fit: contain;
        width: 50%;
    }
    .container_texto{
        width: 35%;
        justify-content: space-between;
    }
    .titulo{
        padding-bottom: 2px;
    }
    .texto{
        font-size: 18px;
        line-height: 20px;
    }
    .item_numero{
        font-size: 25px;
    }
    .item_texto{
        font-size: 15px;
    }
    .botao{
        padding: 5px 20px;
    }
    .explica_titulo::after{
        top: 120%;
    }
    .explica_numero{
        height:70px;
        width:70px;
        padding-top: 15px;
    }
    .explica_containter_texto{
        width: 70%;
        gap: 10px;
    }
    .explica_nome{
        font-size: 25px;
    }
    .explica_texto{
        font-size: 18px;
        line-height: 20px;
    }
}
